@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply h-96 w-41 sm:w-42 bg-white rounded-md shadow-md overflow-hidden;
}

.card-home {
  @apply h-74 min-w-40 sm:w-42 bg-white rounded-md shadow-md overflow-hidden mb-4 overflow-x-scroll;
}

.headline {
  @apply font-poppins font-bold text-2xl mt-4 pb-2;
}

@layer utilities {
  .help {
    display: none;
  }
}

@layer components {
  input:invalid + .help {
    display: block;
  }
}
